@page
@model EMOS.Pages.Kitchen.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kitchendepart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kitchendepart.Residentname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kitchendepart.Residentname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kitchendepart.ResidentroomNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kitchendepart.ResidentroomNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kitchendepart.Mealtype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kitchendepart.Mealtype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kitchendepart.MealSelection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kitchendepart.MealSelection)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kitchendepart.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
