@page
@model EMOS.Pages.Kitchen.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kitchendepart[0].Residentname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitchendepart[0].ResidentroomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitchendepart[0].Mealtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitchendepart[0].MealSelection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kitchendepart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Residentname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentroomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mealtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealSelection)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
