@page
@model EMOS.Pages.Emploee.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Jobrole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Jobrole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Ninumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Ninumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Contractedhours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Contractedhours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.DBSchecked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.DBSchecked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employees.DBSrenewaldate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.DBSrenewaldate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employees.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
