@page
@model EMOS.Pages.Breakfast.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Breakfastmeal[0].Breakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breakfastmeal[0].Selection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Breakfastmeal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Breakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Selection)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
