@page
@model EMOS.Pages.Residents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resident.Roomnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resident.Roomnumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resident.FnameInital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resident.FnameInital)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resident.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resident.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resident.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resident.DOB)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Resident.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
